<!DOCTYPE html>
<html lang = "en">
<head>
    <style>
        table.center {
            margin-left: auto;
            margin-right: auto;
          }
          th, td {
      padding: 10px;
    }
          </style>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<h3> The records that fall in the age group of {{start_age}} to {{end_age}} and that have a marital status of {{marital}} </h3>
<table class="center" style="width:600px">
    <th style="text-align:left">   Age </th>
    <th style="text-align:left">   Marital </th>
    <th style="text-align:left">   Education</th>
    <th style="text-align:left">   Balance</th>
    <th style="text-align:left">   Contact </th>
    <th style="text-align:left">   Date </th>
    <th style="text-align:left">   Month</th>
{% for user in users %}
<tr>
<td>   {{user.age}}</td>
<td>   {{user.marital}}</td>
<td>   {{user.education}}</td>
<td>   {{user.balance}}</td>
<td>   {{user.contact}}</td>
<td>   {{user.day}}</td>
<td>   {{user.month}}</td>
</tr>
{% endfor %}

</table>


</body>

</html>